<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <% if(deviceType==='PC'){ %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%
    }else { %>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <%
    }%>
    <title>Document</title>
    <!-- build:css assets/styles/index.min.css -->
    <link rel="stylesheet" href="assets/css/index.css">
    <!-- endbuild -->
    <% if(deviceType==='Mobile'){%>
    <script>
        (function (doc, win) {
            const docEl = doc.documentElement,
                baseSize = 375,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                reCalc = function () {
                    const clientWidth = docEl.clientWidth;
                    //动态改变body宽度以自适应浏览器可见区域的变化
                    document.getElementsByTagName("html")[0].style.width = (clientWidth) + "px";
                    document.getElementsByTagName("body")[0].style.width = (clientWidth) + "px";
                    if (!clientWidth) return;
                    docEl.style.fontSize = 16 * (clientWidth / baseSize) + 'px';
                };

            if (!doc.addEventListener) return;
            //监听屏幕的改变
            win.addEventListener(resizeEvt, reCalc, false);
            doc.addEventListener('DOMContentLoaded', reCalc, false);
        })(document, window);
    </script>
    <%}%>
</head>

<body>
<img src="assets/images/logo.png"/>
<div class="text">欢迎使用脚手架</div>
<!-- build:js assets/scripts/index.min.js -->
<script src="assets/scripts/index.js"></script>
<!-- endbuild -->
</body>

</html>
